body {
    background-color: lightcoral;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    color:mintcream;

}

h1 {
    margin-left: 20px;
    text-align: center;
    color:whitesmoke;
}
td{
    text-align: center;
    
}

