/*
============================================
index.css | CSS file for restaurant cap app
Olivia Zhang     February 1, 2016 
Computer Systems Research Lab
============================================
*/
body {
    font-family:Arial,Verdana,Tahoma, Geneva, sans-serif;
    text-align: center;
    background-size: 100%;
    font-size: 23px;
    color:white;
    display: relative;
/*    text-shadow: 2px 2px #000000;*/
    background-color:firebrick;
    background-image: url('restaurant_ambiance.jpg');
  
}

#cDiv{
    width:60%;
    font-style:bold; 
    align-content: left;
    margin:auto;
    text-align: center;
    background: skyblue;
    padding: 12px;
    border: 3px solid white;
    font-size:30px;
    text-shadow: 2px 2px #000000;
}

a{
    background-color: white;
    border: 3px solid deepskyblue;
    color: deepskyblue;
}

input[type=submit]{
    border: 3px solid #FFFFFF;
    color:#FFFFFF;
    text-decoration:none;
    background-color: Transparent;
    height: 40px;
    width:150px;
    font-size: 15px;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}
  
input[type=text] {
    align-content: left;
    padding: 10px;
    margin:15px;
    width: 200px;
    height:10px;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
#day,#hour{
    width:50px;
    } 
input[type=password] {
    align-content: left;
    margin:15px;
    padding: 10px;
    width: 20%;
    height:10px;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"].focus {
  border: solid 1px #66b2ff;
  box-shadow: 0 0 5px 1px #66b2ff;
}

#loginBut{
    color:firebrick;
    text-decoration:none;
    background-color: #FFFFFF;
    height:40px;
    font-size: 23px;
    width: 8%;
    border: solid 2px #dcdcdc;
    box-shadow: 2px 2px #000000;
    text-shadow: 1px 1px #000000;
    margin:10px;
    
}

select{
    align-content: left;
    padding: 10px;
    width: 75px;
    height:40px;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    font-size: 15px;
    text-align: center;
}

#back{
  border: solid blue 3px;  
    
}







